/build/
/devel/
.idea
.vscode

/thirdparty/ctraj-build/
/thirdparty/ctraj/thirdparty/tiny-viewer-build/

/cmake-build-debug
/cmake-build-release

*.pdf
*.dtmp
*.bkp
*.log
*.out
*.lof
*.bbl
*.blg
*.aux
*.lot
*.gz
*.toc

*.json
/dataset/
